/* Media Quary for phones - max width 576px*/

@media screen and (max-width: 576px) {

    body {
        font-size: 1em;

    }
    .header {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
    }
    
    .header-title {
        grid-column: 1/2;
        grid-row: 1/2;
        padding: 10px;
    }
    
    .top-nav {
        grid-column: 1/2;
        grid-row: 2/3;
        padding: 10px;
    
    }
    
    .top-placeholder-social {
        grid-column: 1/2;
        grid-row: 3/4;
        padding: 10px;
    }
    
    .nav-button {
      font-size: small;
      display: block;
      margin: 10px;
        }

/* End of header */

    .landing-page {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        top-margin: 10px;
        bottom-margin: 20px;
    }
        
      .hero-image {
        grid-column: 1/2;
        grid-row: 1/2;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1f 1fr 1fr;
        }
        
        .hero-photo {
        grid-column: 1/6;
        grid-row: 1/4;
        width: 100%;
        height: 100%;
        object-fit: cover;    
        }
        
        .hero-part {
        grid-column: 2/4;
        grid-row: 2/3;
        }

/* Hero part ended */
        .body-sidebar {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 3fr;
        }

        .body {
            grid-column: 1/2;
            grid-row: 1/4;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto auto;
        }

        .body-feature {
            grid-column: 1/2;
            grid-row: 1/2;
            margin-top: 10px;
        }

        .body-img {
            grid-column: 1/2;
            grid-row: 2/3;
        }

        .ad-2 {
            grid-column: 1/2;
            grid-row: 3/4;
            height: 150px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1f 1fr 1fr 1fr 1fr;
            justify-items: center;
        margin-bottom: 15px;
        }
        
        .hero-poga {
            grid-column: 2/4;
            grid-row: 3/4;
            font-size: 10px;
            padding: 40px;
                          }
      

        .body-text {
            grid-column: 1/2;
            grid-row: 4/5;

        }    

        /* Body part eneded*/

        .body-2 {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
        }

        .new-paragraph-feature {
            grid-area: 1/2;
            grid-row: 1/2;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto;
        }

        .body-img-2 {
            grid-column: 1/2;
            grid-row: 1/2;
        }

        .zoo {
            grid-column: 1/5;
            grid-row: 1/5;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .body-text-2 {
            grid-column: 1/2;
            grid-row: 2/3;
        }


        /* End of body-2 */

        .footer {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto;
        }

        .footer1 {
            grid-column: 1/2;
            grid-row: 1/2;
            text-align: center;
        }

        .footer2 {
            grid-column: 1/2;
            grid-row: 2/3;   
        }

        .footer3 {
            grid-column: 1/2;
            grid-row: 3/4;
            text-align: center;
        }

        .art-lama {
            width: 50%;
            height: auto;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 10px;
            margin-top: 10px
        }

        .art-lama-landing {
            max-width: 575px;
            margin-bottom: 20px;
            margin-top: 10px;
        }

        .zoo {
            max-width: 575px;
        }

        .sidebar {
            display: none;
        }
        

        .sidebar-2 {
            display: none;
        }


